html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 18pt;
  @media screen and (max-width: 1599px) {
    font-size: 17pt;
  }
  @media screen and (max-width: 1199px) {
    font-size: 16pt;
  }
  @media screen and (max-width: 768px) {
    font-size: 14pt;
  }
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background: var(--color-black);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-white);
  border-radius: 15px;
}
* {
  font-family: 'Mont', sans-serif !important;
}
h2 {
  margin: 50px 0 20px;
  color: var(--accent);
  font-weight: 600;
  font-size: 2.3em;
  font-family: SPSL-New-Cyrillic, sans-serif !important;
  text-align: center;
  text-transform: uppercase;
  text-wrap: balance;
}
@media (max-width: 768px) {
  h2 {
    margin: 30px 0 15px;
    font-size: 1.8em;
  }
}
h3 {
  margin: 20px 0;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: justify;
  text-indent: 1.3em;
}
p {
  margin: 10px 0;
  line-height: 1.3em;
  text-align: justify;
  text-indent: 1.5em;
}
strong {
  color: var(--accent);
  font-weight: 700;
}
